body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff; /* Change the background color to white */
}

header {
    background-color: #0a0a0a; /* Darker shade of black for the header */
    color: #fff;
    padding: 20px 0; /* Increase padding for a taller header */
}

header nav a {
    color: #fff;
    margin: 0 15px; /* Increase margin for more space between links */
    text-decoration: none;
    font-size: 1.2em; /* Increase font size for larger navigation links */
}

main {
    padding: 20px;
    background-color: #fff;
    flex-grow: 1;
    min-height: 77vh;
}



footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}
